html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

.clearfix:before,
.clearfix:after {
    content: " ";/* 1 */
    display: table;/* 2 */
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
}

.banner {
    width: 100%;
    height: 40px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #fff;
    padding-top: 16px;
    text-align: center;
    background-color:  #D4DBE3;
    img {
        width: 30px;
        float: left;
        margin-left: 20px;
    }
    select {
        float: right;
        margin-right: 20px;
        margin-top: 5px;
    }
    .name {
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
        color: #3D4652;
        margin-left: 150px;
    }
    a {
        float: right;
        margin-right: 20px;
        font-size: 14px;
        line-height: 30px;
    }
    #save {
        float: right;
        border: 1px solid #3D4652;
        padding: 4px 10px;
        margin-right: 20px;
    }
    #save:hover {
        cursor:pointer;
        background-color: #3D4652;
        color: #fff;
    }
}

.main {
    width: 100%;
    height: 90%;
    z-index: 1;
    padding-top: 56px;
    #left {
        width: 16%;
        height: 100%;
        display: none;
        box-sizing: border-box;
        float: left;
        background-color: #eee;
        ul{
            li {
                list-style: none;
                padding-left: 10px;
                margin-top: 10px;
                label {
                    padding-left: 5px;
                }
            }
        }
    }
    #center {
        width: 50%;
        height: 100%;
        float: left;
        box-sizing: border-box;
        textarea{
            width: 100%;
            box-sizing: border-box;
            min-height: 100%;
            height: auto;
            outline: none;
            border: 1px solid #ddd;
            font-size: 18px;
            padding: 20px; 
        }
    }
    #right {
        width: 50%;
        box-sizing: border-box;
        height: 100%;
        float: left;
        padding: 20px;
        border: 1px solid #ddd;
        border-left: none;
        font-size: 18px;
        overflow: scroll;
    }
    .DayoneX {
      h1 {
        font-size: 1.3em;
        margin-bottom: 14px;
        margin-top: 14px;
        padding-top: 2px;
        outline: 0px;
        font-weight: normal;
        line-height: 1.3em;
        color: rgb(51, 51, 51);
      }

      h2 {
        font-size: 1.2em;
        margin-bottom: 14px;
        margin-top: 14px;
        padding-top: 2px;
        outline: 0px;
        line-height: 1.1em;
        font-weight: normal;
        color: rgb(51, 51, 51);
      }

      h3 {
        font-size: 1.2em;
        margin-bottom: 14px;
        margin-top: 14px;
        padding-top: 2px;
        outline: 0px;
        font-weight: normal;
        line-height: 1.1em;
        color: rgb(234, 76, 137);
      }


      h4 {
        font-size: 1.1em;
        margin-bottom: 12px;
        margin-top: 12px;
        padding-top: 2px;
        outline: 0px;
        line-height: 1.1em;
        font-weight: bold;
        color: rgb(51, 155, 203);
      }

      h5 {
        border-width: 0px 0px 1px;
        border-bottom-style: solid;
        border-bottom-color: rgb(234, 234, 234);
        font-size: 1em;
        margin-bottom: 6px;
        padding-top: 6px;
        padding-bottom: 5px;
        outline: 0px;
        line-height: 1.1em;
        font-weight: normal;
        color: rgb(153, 153, 153);
      }

      h6 {
        border-width: 0px 0px 1px;
        border-bottom-style: solid;
        border-bottom-color: rgb(234, 234, 234);
        font-size: 0.9em;
        margin-bottom: 6px;
        padding-top: 6px;
        padding-bottom: 5px;
        outline: 0px;
        line-height: 1.1em;
        color: rgb(170, 170, 170);
        font-weight: bold;
      }

      p{
        margin: 1em 0;
      }

      a {
          color: #47B1C7;
          text-decoration: none;
      }

      ul {
        font-size: 18px;
        margin: 0.8em 1em;
        padding-left: 0.8em;
        outline: 0px;color: rgb(51, 51, 51);
      }

      ol {
        font-size: 18px;
        margin: 0.8em 1em;
        padding-left: 0.8em;
        outline: 0px;color: rgb(51, 51, 51);
      }

      hr {
        border-right-width: 0px;
        border-bottom-width: 0px;
        border-left-width: 0px;
        border-top-style: solid;
        border-top-color: rgb(234, 234, 234);
        height: 1px;
        margin-top: 1em;
        margin-bottom: 1em;
        color: rgb(51, 51, 51);
        font-size: 18px;
      }

      s {
        text-decoration:line-through;
      }

      strong {
        border: 0px;
        outline: 0px;
        color: rgb(37, 37, 37);
      }

      blockquote {
        border-left: solid .4em rgb(221, 221, 221);
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 10px;
        outline: 0px;
        quotes: none;
        color: rgb(51, 51, 51);
        padding-left: 10px;
      }

      code {
        padding: 0;
        padding-top: 0.3em;
        padding-bottom: 0.3em;
        margin: 0;
        font-size: 88%;
        background-color: #f7f7f7;
        border-radius: 3px;
        margin: 0 0.3em;
      }
      code:before, code:after {
        letter-spacing: -0.4em;
        content: "\00a0";
      }
      pre > code {
        padding: 0;
        margin: 5px 0;
        font-size: 100%;
        white-space: pre;
        background: transparent;
        border: 0;
      }
      pre {
        border: 1px solid rgba(0, 0, 0, 0.07);
        margin: 5px 0;
        padding: 10px;
        overflow: auto;
        font-size: 85%;
        line-height: 1.45;
        background-color: #f7f7f7;
        word-wrap: normal;
      }
      pre code {
        display: inline;
        max-width: initial;
        padding: 0;
        margin: 0;
        overflow: initial;
        line-height: inherit;
        word-wrap: noraml;
        background-color: transparent;
        border: 0;
      }
      pre code:before, pre code:after {
        content: normal;
      }

      img {
        border: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
        outline: 0px;
        display: block;
        width: auto!important;
        visibility: visible !important;
        height: auto !important;
      }

      ul>ul {
        list-style-type: square;
      }

      table {
        width: 100%;
        overflow: auto;
        text-align: center;
      }
      table th {
        font-weight: normal;
      }
      table th, table td {
        padding: 6px 13px;
        border: 1px solid #ddd;
      }
      table tr {
        background-color: #fff;
        border-top: 1px solid #ccc;
      }
      table tr:nth-child(2n) {
        background-color: #f8f8f8;
      }
      .preface {
        background: #f6f6f6;
        font-size: 15px;
        padding: 12px;
        margin: 15px 0;
        position: relative;
        border-radius: 5px;
        border-left: none;

        p {
            margin: 12px 0;
        }
      }
      .preface_blue {
        background: #DCEDF6;
      }
      .preface_red {
        background: #EFDFDF;
      }
      .preface_green {
        background: #E2EED8;
      }
      .preface_yellow {
        background: #FCF7E4;
      }
      .preface_white {
        background: #e7e7eb;
      }
    }
    .Dayone {
        img {
            display: block;
            padding: 10px 0;
            max-width: 100%;
        }

        .video_embed {
            display: block;
            padding: 10px 0;
        }

        /* STYLES */


        strong {
            color: #252525;
        }

        a {
            color: #47B1C7;
            text-decoration: none;
        }

        a:hover {
            color: #EA4C89;
        }

        hr {
            border: 0;
            border-top: 1px solid #eaeaea;
            display: block;
            height: 1px;
            margin: 1em 0;
            padding: 0;
        }


        /* HEADERS */


        h1 {
          font-size: 1.3em;
          font-weight: bold;
          line-height: 1.3em;
          padding-top: 2px;
          margin-bottom: 12px;
        }

        h2, h3, h4, h5, h6 {
          line-height: 1.1em;
          padding-top: 2px;
          margin-bottom: 12px;
        }

        h2 {
          font-size: 1.2em;
          font-weight: bold;
        }

        h3 {
          font-weight: normal;
          color: #EA4C89;
          font-size: 1.2em;
        }

        h4 {
          font-weight: bold;
          color: #339BCB;
          font-size: 1.1em;
        }

        h5 {
          font-size: 1em;
          color: #999;
          font-weight: normal;
          border-bottom: 1px solid #eaeaea;
          padding-bottom: 5px;
          padding-top: 10px;
          margin-bottom: 5px;
        }

        h6 {
          font-size: .8em;
          color: #AAA;
          font-weight: bold;
          border-bottom: 1px solid #eaeaea;
          padding-bottom: 5px;
          padding-top: 10px;
          margin-bottom: 5px;
        }

        cite {
            color: #666;
            display: block;
            text-align: right;
            font-size: 13px;
            font-style: italic;
            margin: -5px 0 10px;
        }



        dl,ol,ul,p,blockquote,pre {
            margin-top: 2px;
            margin-bottom: 22px;
        }



        /* LISTS */

        ol,ul {
            margin: .8em 1em;
            padding-left: .8em;
        }

        ol li {
            margin-left: 1em;
            margin-bottom: .3em;
        }

        ul li {
            margin-left: 1em;
            margin-bottom: .3em;
        }

        ol ol,ol ul,ul ol,ul ul {
            margin: .3em 0;
        }

        .footnotes ol li {
            margin-bottom: 10px;
            margin-left: 16px;
            font-weight: 800;
            font-size: .9em;
        }

        .footnotes ol li p {
            font-weight: 400;
            font-size: 1em;
        }

        /* code */
        /* preformatted */
        blockquote {
            border-left: solid .4em #ddd;
            padding-left: 10px;
            quotes: none;
        }

        pre,code,tt {
            font: 1em 'Bitstream Vera Sans Mono', Courier New, monospace;
        }

        pre {
            background-color: #f8f8f8;
            border: #E8E8E8 1px solid;
            color: #444;
            display: block;
            margin: 12px 0;
            overflow: auto;
            padding: 6px 10px;
            white-space: pre-wrap;
            word-wrap: break-word;
            cursor: text;
            max-width: 100%;
            overflow: auto;
            border-radius: 3px;
            -webkit-border-radius: 3px;
        }

        code {
            color: #2c92b0;
            border: 1px solid #E8E8E8;
            font-size: .95em;
            border-radius: 3px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
        }

        pre code {
            font-size: .95em;
            padding: 0 !important;
            background-color: #F6F6F6;
            border: none !important;
            overflow: visible;
        }

        /* tables */
        table {
            margin-right: auto;
            margin-top: 10px;
            margin-bottom: 5px;
            border-bottom: 1px solid #ddd;
            border-right: 1px solid #ddd;
            border-spacing: 0;
        }

        table th {
            padding: 3px 10px;
            background-color: #eee;
            border-top: 1px solid #ddd;
            border-left: 1px solid #ddd;
        }

        table tr {
        }

        table td {
            padding: 3px 10px;
            border-top: 1px solid #ddd;
            border-left: 1px solid #ddd;
        }

        /* sub */
        sup,sub,a.footnote {
            font-size: 1.4ex;
            height: 0;
            line-height: 1;
            vertical-align: super;
            position: relative;
            font-weight: 800;
        }

        sub {
            vertical-align: sub;
            top: -1px;
        }

        small {
            font-size: 85%;
        }

        mark {
            background: #ff0;
            color: #000;
            font-style: italic;
            font-weight: 600;
        }
    }
    .completed {
        color: #d9d9d9;
        text-decoration: line-through;
    }
}

.scrollin {
    width: 42% !important; 
}

.less {
    transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}

#message {
    position: absolute;
    top: 200px;
    left: 35%;
    margin: 0 auto;
    width: 300px;
    padding: 40px;
    background: #EA6C6C;
    display: none;
    font-size: 1.5em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
    color: #fff;
    text-align: center;
}
