html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.banner{
    width: 100%;
    height: 5%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #fff;
}

.main {
    width: 100%;
    height: 90%;
    z-index: 1;
    margin-top: 4%;
    #left {
        width: 16%;
        height: 100%;
        float: left;
        background: red;
    }
    #center {
        width: 42%;
        height: 100%;
        float: left;
        background: blue;
        textarea{
            width: 100%;
            height: 100%;
            outline: none;
        }
    }
    #right {
        width: 42%;
        height: 100%;
        float: left;
        background: yellow;
    }
    .completed {
      color: #d9d9d9;
      text-decoration: line-through;
    }
}
