@charset "UTF-8";
html {
  height: 100%; }

* {
  margin: 0;
  padding: 0; }

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: Avenir, sans-serif;
  overflow: hidden; }

.banner {
  width: 100%;
  height: 5%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #fff; }

.main {
  width: 100%;
  height: 90%;
  z-index: 1;
  margin-top: 4%; }
  .main #left {
    width: 16%;
    height: 100%;
    box-sizing: border-box;
    float: left;
    background-color: #eee; }
    .main #left ul li {
      list-style: none;
      padding-left: 10px;
      margin-top: 10px; }
      .main #left ul li label {
        padding-left: 5px; }
  .main #center {
    width: 42%;
    height: 100%;
    float: left;
    box-sizing: border-box; }
    .main #center textarea {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      outline: none;
      font-size: 18px;
      border: 1px solid #ccc;
      padding: 20px; }
  .main #right {
    width: 42%;
    box-sizing: border-box;
    height: 100%;
    float: left;
    padding: 20px;
    border: 1px solid #ccc;
    border-left: none;
    font-size: 10pt;
    overflow: scroll;
    /* Tables */ }
    .main #right strong {
      color: #252525; }
    .main #right a {
      color: #399FC3;
      text-decoration: none;
      font-weight: normal;
      /*this elimitantes downscaling caused by long links*/
      overflow: hidden;
      text-overflow: ellipsis;
      /*溢出的内容以何种形式提醒用户*/ }
    .main #right a:link:after, .main #right a:visited:after {
      color: #999;
      font-weight: 400;
      font-style: italic;
      content: " " attr(href) " ";
      font-size: 84%;
      word-break: break-all;
      /*允许在单词内换行*/
      word-wrap: break-word;
      /*允许长单词换行到下一行*/ }
    .main #right a[href^="javascript:"]:after,
    .main #right a[href^="dayone:"]:after,
    .main #right a[href^="tel:"]:after,
    .main #right a[href^="mailto:"]:after,
    .main #right a[href^="twitter:"]:after,
    .main #right a[href^="#"]:after {
      content: ""; }
    .main #right li {
      overflow: visible; }
    .main #right a:hover {
      color: #EA4C89; }
    .main #right hr {
      border: 0;
      border-top: 1pt solid #eaeaea;
      display: block;
      height: 1px;
      margin: 1em 0;
      padding: 0; }
    .main #right h1 {
      font-size: 1.3em;
      font-weight: bold;
      line-height: 1.3em;
      padding-top: 16px;
      margin-bottom: 4px; }
    .main #right h2, .main #right h3, .main #right h4, .main #right h5, .main #right h6 {
      line-height: 1.1em;
      padding-top: 16px;
      margin-bottom: 4px; }
    .main #right h2 {
      font-size: 1.1em;
      font-weight: bold; }
    .main #right h3 {
      font-weight: normal;
      color: #ea4c89;
      font-size: 1em; }
    .main #right h4 {
      font-weight: normal;
      color: #999;
      text-transform: uppercase;
      font-size: 1.1em; }
    .main #right h5, .main #right h6 {
      font-size: .8em; }
    .main #right h5 {
      color: #339BCB;
      font-weight: bold;
      text-transform: uppercase; }
    .main #right h6 {
      font-weight: normal;
      color: #AAA; }
    .main #right dl, .main #right ol, .main #right ul, .main #right p, .main #right blockquote, .main #right pre {
      margin-top: 7pt;
      margin-bottom: 7pt; }
    .main #right img.header {
      max-width: 340pt;
      margin-left: -20pt;
      margin-top: 8pt;
      margin-bottom: 9pt;
      display: block; }
    .main #right img {
      max-width: 300pt;
      margin-top: 8pt;
      margin-bottom: 9pt;
      display: block; }
    .main #right ol, .main #right ul {
      padding-left: 12pt;
      margin: 8pt 0; }
    .main #right ol ol, .main #right ol ul, .main #right ul ol, .main #right ul ul {
      margin: 3pt 0; }
    .main #right blockquote {
      border-left: solid 4pt #ddd;
      padding-left: 7pt;
      quotes: none; }
    .main #right pre, .main #right code, .main #right tt {
      font: 9pt 'Bitstream Vera Sans Mono', Courier New, monospace; }
    .main #right pre {
      background-color: #FFF;
      border: #E8E8E8 1pt solid;
      color: black;
      display: block;
      margin: 9pt 0;
      overflow: auto;
      padding: 3pt 7pt;
      white-space: pre-wrap;
      word-wrap: break-word;
      cursor: text;
      max-width: 260pt;
      overflow: auto;
      border-radius: 3pt;
      -webkit-border-radius: 3pt; }
    .main #right code {
      color: #2c92b0;
      border: 1px solid #E8E8E8;
      font-size: 9pt;
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px; }
    .main #right pre code {
      font-size: 9pt;
      padding: 0 !important;
      background-color: #FFF;
      border: none !important;
      overflow: visible; }
    .main #right table {
      width: 100%;
      border-collapse: collapse;
      display: table-header-group; }
    .main #right th, .main #right td {
      text-align: left;
      padding: 5px 10px;
      border-bottom: 1px solid #e5e5e5; }
    .main #right dt {
      color: #444;
      font-weight: 700; }
    .main #right th {
      color: #444; }
  .main .completed {
    color: #d9d9d9;
    text-decoration: line-through; }
