<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>weeditor</title>
        <link rel="stylesheet" href="css/main.css">
        <script src="https://cdn.jsdelivr.net/vue/latest/vue.js"></script>
        <script src="js/marked.min.js"></script>
    </head>
    <body>
        <div class="banner clearfix"  v-on:click="toggle">
            banner
        </div>
        <div class="main clearfix">
            <div id="left" class="">
                <div id="checklist">
                    <ul>
                        <li class="todo-item" v-for="todo in todos" :class="{ completed: todo.completed }">
                            <input type="checkbox" class="toggle" v-model="todo.completed"/><label for="">{{ todo.item }}</label>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="center">
                <textarea v-model="input"></textarea>
            </div>
            <div id="right" v-html="input | marked">
            </div>
        </div>

        <script src="js/main.js"></script>
        <script type="text/javascript" charset="utf-8">
            new Vue({
              el: '#checklist',
              data: {
                todos: [
                  { item: 'Learn JavaScript' },
                  { item: 'Learn Vue.js' },
                  { item: 'Build Something Awesome' }
                ]
              }
            })
            new Vue({
              el: '.main',
              data: {
                input: '#hello'
              },
              filters: {
                marked: marked
              }
            })
        </script>
    </body>
</html>
