<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>weeditor</title>
        <link rel="stylesheet" href="css/main.css">
        <script src="https://cdn.jsdelivr.net/vue/latest/vue.js"></script>
        <script src="js/marked.min.js"></script>
        <script src="js/jquery.min.js"></script>
    </head>
    <body>
        <div class="banner clearfix"  v-on:click="toggle">
          <span class="name">weeditor</span>
          <p id="save">save</p>
          <select id="selector">
            <option selected>DayoneX</option>
            <option>Dayone</option>
          </select>
        </div>
        <div class="main clearfix">
            <div id="left" class="">
                <div id="checklist">
                    <ul>
                        <li class="todo-item" v-for="todo in todos" :class="{ completed: todo.completed }">
                            <input type="checkbox" class="toggle" v-model="todo.completed"/><label for="">{{ todo.item }}</label>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="center">
                <textarea id="markdown" v-model="input"></textarea>
            </div>
            <div id="right" class="DayoneX" v-html="input | marked">
            </div>
        </div>
        <div id="message"></div>

        <script src="js/main.js"></script>
        <script type="text/javascript" charset="utf-8">
            new Vue({
              el: '#checklist',
              data: {
                todos: [
                  { item: '标题书写是否正确' },
                  { item: '主题图片-图片脚本' },
                  { item: '文章原创篇数' },
                  { item: '代码距离' },
                  { item: '图片距离' },
                  { item: '文章结尾(-完-，-待续-)' },
                  { item: '你还可以看' },
                  { item: '参考引用' },
                  { item: '文末关注Logo图' },
                  { item: '原创声明' },
                  { item: '文章标签分类' },
                  { item: '发布后转发到群里' },
                  { item: '发表到其它平台' }
                ]
              }
            })
            new Vue({
              el: '.main',
              data: {
                input: '#hello'
              },
              filters: {
                marked: marked
              }
            })
        </script>
    </body>
</html>
